[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
bumpversion = "*"
tox = "*"
wheel = "*"
mock = "*"

[packages]

[requires]
python_version = "3.7"
